In [3]:
import pandas as pd
import requests
import pprint
Your_API_Key = "8aa79a20642b4c8fa81ba0ad9ba504db"
from geopy.geocoders import Nominatim

from flask import Flask
from flask_pymongo import PyMongo

In [2]:
#city_df = pd.read_txt(worldcitiespop.txt)
city_df = pd.read_csv('500cities.csv', delimiter = ",")
city_df

,Unnamed: 0,Country,City,AccentCity,Region,Population,Latitude,Longitude
0,1544449,jp,tokyo,Tokyo,40,31480498.0,35.685000,139.751389
1,570824,cn,shanghai,Shanghai,23,14608512.0,31.045556,121.399722
2,1327914,in,bombay,Bombay,16.0,12692717.0,18.975000,72.825833
3,2200161,pk,karachi,Karachi,05,11627378.0,24.905600,67.082200
4,1349146,in,new delhi,New Delhi,7.0,10928270.0,28.600000,77.200000
5,1331162,in,delhi,Delhi,7.0,10928270.0,28.666667,77.216667
6,2130459,ph,manila,Manila,D9,10443877.0,14.604200,120.982200
7,2461968,ru,moscow,Moscow,48,10381288.0,55.752222,37.615556
8,1626528,kr,seoul,Seoul,11,10323448.0,37.598500,126.978300
9,316800,br,sao paulo,S�o Paulo,27,10021437.0,-23.473293,-46.665803
10,2800596,tr,istanbul,Istanbul,34,9797536.0,41.018611,28.964722
11,2003442,ng,lagos,Lagos,05,8789133.0,6.453056,3.395833
12,1892345,mx,mexico,Mexico,9,8720916.0,19.434167,-99.138611
13,1186762,id,jakarta,Jakarta,4,8540306.0,-6.174444,106.829444
14,2990572,us,new york,New York,NY,8107916.0,40.714167,-74.006389
15,362418,cd,kinshasa,Kinshasa,6,7787832.0,-4.300000,15.300000
16,842667,eg,cairo,Cairo,11,7734602.0,30.050000,31.250000
17,2074194,pe,lima,Lima,15,7646786.0,-12.050000,-77.050000
18,553246,cn,peking,Peking,22,7480601.0,39.928889,116.388333
19,996635,gb,london,London,H9,7421228.0,51.514125,-0.093689
20,660231,co,bogota,Bogot�,34,7102602.0,4.649178,-74.062827
21,198311,bd,dhaka,Dhaka,81,6493177.0,23.723056,90.408611
22,2208230,pk,lahore,Lahore,04,6312576.0,31.549722,74.343611
23,313816,br,rio de janeiro,Rio de Janeiro,21,6023742.0,-22.900000,-43.233333
24,1364651,iq,baghdad,Baghdad,7.0,5672516.0,33.338611,44.393889
25,2707212,th,bangkok,Bangkok,40.0,5104475.0,13.753979,100.501444
26,1324808,in,bangalore,Bangalore,19.0,4931603.0,12.983333,77.583333
27,409030,cl,santiago,Santiago,12,4837248.0,-33.450000,-70.666667
28,1328402,in,calcutta,Calcutta,28.0,4631819.0,22.569722,88.369722
29,351416,ca,toronto,Toronto,8,4612187.0,43.666667,-79.416667
...,...,...,...,...,...,...,...,...
470,295690,br,contagem,Contagem,15,627132.0,-19.916667,-44.100000
471,1326985,in,bhilai,Bhilai,37.0,625203.0,21.216667,81.433333
472,792949,dj,jibuti,Jibuti,03,623891.0,11.595000,43.148056
473,1904800,mx,saltillo,Saltillo,7,621270.0,25.416667,-101.000000
474,3027325,us,fort worth,Fort Worth,TX,618119.0,32.725278,-97.320556
475,1337226,in,jamshedpur,Jamshedpur,38.0,616404.0,22.800000,86.183333
476,478620,cn,haikou,Haikou,31,615835.0,20.045833,110.341667
477,316499,br,sao jose dos campos,S�o Jos� dos Campos,27,613776.0,-23.183333,-45.883333
478,2815392,tr,mersin,Mersin,32,612540.0,36.732778,34.644167
479,591892,cn,taizhou,Taizhou,4,612356.0,32.493333,119.910627
480,1899906,mx,queretaro,Quer�taro,22,611803.0,20.600000,-100.383333
481,626537,cn,xingtai,Xingtai,10,611739.0,37.063056,114.494167
482,2957964,us,baltimore,Baltimore,MD,610892.0,39.290278,-76.612500
483,992962,gb,glasgow,Glasgow,V2,610271.0,55.833333,-4.250000
484,2561274,ru,yaroslavl,Yaroslavl,88,606735.0,57.619770,39.855360
485,3124372,za,benoni,Benoni,06,605363.0,-26.190851,28.311338
486,1531231,jp,hamamatsu,Hamamatsu,37,605105.0,34.700000,137.733333
487,1341599,in,kochi,Kochi,13.0,604751.0,9.966667,76.233333
488,506044,cn,jinzhou,Jinzhou,19,604269.0,41.107778,121.141667
489,1322769,in,amravati,Amravati,16.0,603885.0,20.933333,77.750000
490,2032023,nl,rotterdam,Rotterdam,11,603851.0,51.916667,4.500000
491,93,ae,abu dhabi,Abu Dhabi,1.0,603687.0,24.466667,54.366667
492,3089944,vn,hai phong,Hai Phong,13,602718.0,20.856111,106.682222
493,1462567,ir,orumiyeh,Orumiyeh,1,602443.0,37.555300,45.072400
494,1370801,iq,kirkuk,Kirkuk,13.0,601442.0,35.468056,44.392222
495,2367739,ru,barnaul,Barnaul,04,599586.0,53.360556,83.763611
496,2993640,us,charlotte,Charlotte,NC,598351.0,35.226944,-80.843333
497,3027061,us,el paso,El Paso,TX,597181.0,31.758611,-106.486389
498,529698,cn,luancheng,Luancheng,10,597130.0,37.879167,114.651667
499,1892331,mx,mexicali,Mexicali,2,597124.0,32.651944,-115.468333

In [3]:
city_df.sort_values(by=["Population"], ascending = False)

,Unnamed: 0,Country,City,AccentCity,Region,Population,Latitude,Longitude
0,1544449,jp,tokyo,Tokyo,40,31480498.0,35.685000,139.751389
1,570824,cn,shanghai,Shanghai,23,14608512.0,31.045556,121.399722
2,1327914,in,bombay,Bombay,16.0,12692717.0,18.975000,72.825833
3,2200161,pk,karachi,Karachi,05,11627378.0,24.905600,67.082200
4,1349146,in,new delhi,New Delhi,7.0,10928270.0,28.600000,77.200000
5,1331162,in,delhi,Delhi,7.0,10928270.0,28.666667,77.216667
6,2130459,ph,manila,Manila,D9,10443877.0,14.604200,120.982200
7,2461968,ru,moscow,Moscow,48,10381288.0,55.752222,37.615556
8,1626528,kr,seoul,Seoul,11,10323448.0,37.598500,126.978300
9,316800,br,sao paulo,S�o Paulo,27,10021437.0,-23.473293,-46.665803
10,2800596,tr,istanbul,Istanbul,34,9797536.0,41.018611,28.964722
11,2003442,ng,lagos,Lagos,05,8789133.0,6.453056,3.395833
12,1892345,mx,mexico,Mexico,9,8720916.0,19.434167,-99.138611
13,1186762,id,jakarta,Jakarta,4,8540306.0,-6.174444,106.829444
14,2990572,us,new york,New York,NY,8107916.0,40.714167,-74.006389
15,362418,cd,kinshasa,Kinshasa,6,7787832.0,-4.300000,15.300000
16,842667,eg,cairo,Cairo,11,7734602.0,30.050000,31.250000
17,2074194,pe,lima,Lima,15,7646786.0,-12.050000,-77.050000
18,553246,cn,peking,Peking,22,7480601.0,39.928889,116.388333
19,996635,gb,london,London,H9,7421228.0,51.514125,-0.093689
20,660231,co,bogota,Bogot�,34,7102602.0,4.649178,-74.062827
21,198311,bd,dhaka,Dhaka,81,6493177.0,23.723056,90.408611
22,2208230,pk,lahore,Lahore,04,6312576.0,31.549722,74.343611
23,313816,br,rio de janeiro,Rio de Janeiro,21,6023742.0,-22.900000,-43.233333
24,1364651,iq,baghdad,Baghdad,7.0,5672516.0,33.338611,44.393889
25,2707212,th,bangkok,Bangkok,40.0,5104475.0,13.753979,100.501444
26,1324808,in,bangalore,Bangalore,19.0,4931603.0,12.983333,77.583333
27,409030,cl,santiago,Santiago,12,4837248.0,-33.450000,-70.666667
28,1328402,in,calcutta,Calcutta,28.0,4631819.0,22.569722,88.369722
29,351416,ca,toronto,Toronto,8,4612187.0,43.666667,-79.416667
...,...,...,...,...,...,...,...,...
470,295690,br,contagem,Contagem,15,627132.0,-19.916667,-44.100000
471,1326985,in,bhilai,Bhilai,37.0,625203.0,21.216667,81.433333
472,792949,dj,jibuti,Jibuti,03,623891.0,11.595000,43.148056
473,1904800,mx,saltillo,Saltillo,7,621270.0,25.416667,-101.000000
474,3027325,us,fort worth,Fort Worth,TX,618119.0,32.725278,-97.320556
475,1337226,in,jamshedpur,Jamshedpur,38.0,616404.0,22.800000,86.183333
476,478620,cn,haikou,Haikou,31,615835.0,20.045833,110.341667
477,316499,br,sao jose dos campos,S�o Jos� dos Campos,27,613776.0,-23.183333,-45.883333
478,2815392,tr,mersin,Mersin,32,612540.0,36.732778,34.644167
479,591892,cn,taizhou,Taizhou,4,612356.0,32.493333,119.910627
480,1899906,mx,queretaro,Quer�taro,22,611803.0,20.600000,-100.383333
481,626537,cn,xingtai,Xingtai,10,611739.0,37.063056,114.494167
482,2957964,us,baltimore,Baltimore,MD,610892.0,39.290278,-76.612500
483,992962,gb,glasgow,Glasgow,V2,610271.0,55.833333,-4.250000
484,2561274,ru,yaroslavl,Yaroslavl,88,606735.0,57.619770,39.855360
485,3124372,za,benoni,Benoni,06,605363.0,-26.190851,28.311338
486,1531231,jp,hamamatsu,Hamamatsu,37,605105.0,34.700000,137.733333
487,1341599,in,kochi,Kochi,13.0,604751.0,9.966667,76.233333
488,506044,cn,jinzhou,Jinzhou,19,604269.0,41.107778,121.141667
489,1322769,in,amravati,Amravati,16.0,603885.0,20.933333,77.750000
490,2032023,nl,rotterdam,Rotterdam,11,603851.0,51.916667,4.500000
491,93,ae,abu dhabi,Abu Dhabi,1.0,603687.0,24.466667,54.366667
492,3089944,vn,hai phong,Hai Phong,13,602718.0,20.856111,106.682222
493,1462567,ir,orumiyeh,Orumiyeh,1,602443.0,37.555300,45.072400
494,1370801,iq,kirkuk,Kirkuk,13.0,601442.0,35.468056,44.392222
495,2367739,ru,barnaul,Barnaul,04,599586.0,53.360556,83.763611
496,2993640,us,charlotte,Charlotte,NC,598351.0,35.226944,-80.843333
497,3027061,us,el paso,El Paso,TX,597181.0,31.758611,-106.486389
498,529698,cn,luancheng,Luancheng,10,597130.0,37.879167,114.651667
499,1892331,mx,mexicali,Mexicali,2,597124.0,32.651944,-115.468333

In [4]:
r = requests.get("https://api.breezometer.com/air-quality/v2/current-conditions?lat=37.7749&lon=-122.4194&key=a8649893e7d348babecfe317a146a879&features=breezometer_aqi,local_aqi,health_recommendations,sources_and_effects,pollutants_concentrations,pollutants_aqi_information")
#print(r.status_code)
#print(r.headers)
#pp = pprint.PrettyPrinter(indent=4)
#pp.pprint(r.content)

In [5]:
for column in city_df[:10]:
    print(city_df["Latitude"])
    print(city_df["Longitude"])

0      35.685000
1      31.045556
2      18.975000
3      24.905600
4      28.600000
5      28.666667
6      14.604200
7      55.752222
8      37.598500
9     -23.473293
10     41.018611
11      6.453056
12     19.434167
13     -6.174444
14     40.714167
15     -4.300000
16     30.050000
17    -12.050000
18     39.928889
19     51.514125
20      4.649178
21     23.723056
22     31.549722
23    -22.900000
24     33.338611
25     13.753979
26     12.983333
27    -33.450000
28     22.569722
29     43.666667
         ...
470   -19.916667
471    21.216667
472    11.595000
473    25.416667
474    32.725278
475    22.800000
476    20.045833
477   -23.183333
478    36.732778
479    32.493333
480    20.600000
481    37.063056
482    39.290278
483    55.833333
484    57.619770
485   -26.190851
486    34.700000
487     9.966667
488    41.107778
489    20.933333
490    51.916667
491    24.466667
492    20.856111
493    37.555300
494    35.468056
495    53.360556
496    35.226944
497    31.758611
498    37.879167
499    32.651944
Name: Latitude, Length: 500, dtype: float64
0      139.751389
1      121.399722
2       72.825833
3       67.082200
4       77.200000
5       77.216667
6      120.982200
7       37.615556
8      126.978300
9      -46.665803
10      28.964722
11       3.395833
12     -99.138611
13     106.829444
14     -74.006389
15      15.300000
16      31.250000
17     -77.050000
18     116.388333
19      -0.093689
20     -74.062827
21      90.408611
22      74.343611
23     -43.233333
24      44.393889
25     100.501444
26      77.583333
27     -70.666667
28      88.369722
29     -79.416667
          ...
470    -44.100000
471     81.433333
472     43.148056
473   -101.000000
474    -97.320556
475     86.183333
476    110.341667
477    -45.883333
478     34.644167
479    119.910627
480   -100.383333
481    114.494167
482    -76.612500
483     -4.250000
484     39.855360
485     28.311338
486    137.733333
487     76.233333
488    121.141667
489     77.750000
490      4.500000
491     54.366667
492    106.682222
493     45.072400
494     44.392222
495     83.763611
496    -80.843333
497   -106.486389
498    114.651667
499   -115.468333
Name: Longitude, Length: 500, dtype: float64
0      35.685000
1      31.045556
2      18.975000
3      24.905600
4      28.600000
5      28.666667
6      14.604200
7      55.752222
8      37.598500
9     -23.473293
10     41.018611
11      6.453056
12     19.434167
13     -6.174444
14     40.714167
15     -4.300000
16     30.050000
17    -12.050000
18     39.928889
19     51.514125
20      4.649178
21     23.723056
22     31.549722
23    -22.900000
24     33.338611
25     13.753979
26     12.983333
27    -33.450000
28     22.569722
29     43.666667
         ...
470   -19.916667
471    21.216667
472    11.595000
473    25.416667
474    32.725278
475    22.800000
476    20.045833
477   -23.183333
478    36.732778
479    32.493333
480    20.600000
481    37.063056
482    39.290278
483    55.833333
484    57.619770
485   -26.190851
486    34.700000
487     9.966667
488    41.107778
489    20.933333
490    51.916667
491    24.466667
492    20.856111
493    37.555300
494    35.468056
495    53.360556
496    35.226944
497    31.758611
498    37.879167
499    32.651944
Name: Latitude, Length: 500, dtype: float64
0      139.751389
1      121.399722
2       72.825833
3       67.082200
4       77.200000
5       77.216667
6      120.982200
7       37.615556
8      126.978300
9      -46.665803
10      28.964722
11       3.395833
12     -99.138611
13     106.829444
14     -74.006389
15      15.300000
16      31.250000
17     -77.050000
18     116.388333
19      -0.093689
20     -74.062827
21      90.408611
22      74.343611
23     -43.233333
24      44.393889
25     100.501444
26      77.583333
27     -70.666667
28      88.369722
29     -79.416667
          ...
470    -44.100000
471     81.433333
472     43.148056
473   -101.000000
474    -97.320556
475     86.183333
476    110.341667
477    -45.883333
478     34.644167
479    119.910627
480   -100.383333
481    114.494167
482    -76.612500
483     -4.250000
484     39.855360
485     28.311338
486    137.733333
487     76.233333
488    121.141667
489     77.750000
490      4.500000
491     54.366667
492    106.682222
493     45.072400
494     44.392222
495     83.763611
496    -80.843333
497   -106.486389
498    114.651667
499   -115.468333
Name: Longitude, Length: 500, dtype: float64
0      35.685000
1      31.045556
2      18.975000
3      24.905600
4      28.600000
5      28.666667
6      14.604200
7      55.752222
8      37.598500
9     -23.473293
10     41.018611
11      6.453056
12     19.434167
13     -6.174444
14     40.714167
15     -4.300000
16     30.050000
17    -12.050000
18     39.928889
19     51.514125
20      4.649178
21     23.723056
22     31.549722
23    -22.900000
24     33.338611
25     13.753979
26     12.983333
27    -33.450000
28     22.569722
29     43.666667
         ...
470   -19.916667
471    21.216667
472    11.595000
473    25.416667
474    32.725278
475    22.800000
476    20.045833
477   -23.183333
478    36.732778
479    32.493333
480    20.600000
481    37.063056
482    39.290278
483    55.833333
484    57.619770
485   -26.190851
486    34.700000
487     9.966667
488    41.107778
489    20.933333
490    51.916667
491    24.466667
492    20.856111
493    37.555300
494    35.468056
495    53.360556
496    35.226944
497    31.758611
498    37.879167
499    32.651944
Name: Latitude, Length: 500, dtype: float64
0      139.751389
1      121.399722
2       72.825833
3       67.082200
4       77.200000
5       77.216667
6      120.982200
7       37.615556
8      126.978300
9      -46.665803
10      28.964722
11       3.395833
12     -99.138611
13     106.829444
14     -74.006389
15      15.300000
16      31.250000
17     -77.050000
18     116.388333
19      -0.093689
20     -74.062827
21      90.408611
22      74.343611
23     -43.233333
24      44.393889
25     100.501444
26      77.583333
27     -70.666667
28      88.369722
29     -79.416667
          ...
470    -44.100000
471     81.433333
472     43.148056
473   -101.000000
474    -97.320556
475     86.183333
476    110.341667
477    -45.883333
478     34.644167
479    119.910627
480   -100.383333
481    114.494167
482    -76.612500
483     -4.250000
484     39.855360
485     28.311338
486    137.733333
487     76.233333
488    121.141667
489     77.750000
490      4.500000
491     54.366667
492    106.682222
493     45.072400
494     44.392222
495     83.763611
496    -80.843333
497   -106.486389
498    114.651667
499   -115.468333
Name: Longitude, Length: 500, dtype: float64
0      35.685000
1      31.045556
2      18.975000
3      24.905600
4      28.600000
5      28.666667
6      14.604200
7      55.752222
8      37.598500
9     -23.473293
10     41.018611
11      6.453056
12     19.434167
13     -6.174444
14     40.714167
15     -4.300000
16     30.050000
17    -12.050000
18     39.928889
19     51.514125
20      4.649178
21     23.723056
22     31.549722
23    -22.900000
24     33.338611
25     13.753979
26     12.983333
27    -33.450000
28     22.569722
29     43.666667
         ...
470   -19.916667
471    21.216667
472    11.595000
473    25.416667
474    32.725278
475    22.800000
476    20.045833
477   -23.183333
478    36.732778
479    32.493333
480    20.600000
481    37.063056
482    39.290278
483    55.833333
484    57.619770
485   -26.190851
486    34.700000
487     9.966667
488    41.107778
489    20.933333
490    51.916667
491    24.466667
492    20.856111
493    37.555300
494    35.468056
495    53.360556
496    35.226944
497    31.758611
498    37.879167
499    32.651944
Name: Latitude, Length: 500, dtype: float64
0      139.751389
1      121.399722
2       72.825833
3       67.082200
4       77.200000
5       77.216667
6      120.982200
7       37.615556
8      126.978300
9      -46.665803
10      28.964722
11       3.395833
12     -99.138611
13     106.829444
14     -74.006389
15      15.300000
16      31.250000
17     -77.050000
18     116.388333
19      -0.093689
20     -74.062827
21      90.408611
22      74.343611
23     -43.233333
24      44.393889
25     100.501444
26      77.583333
27     -70.666667
28      88.369722
29     -79.416667
          ...
470    -44.100000
471     81.433333
472     43.148056
473   -101.000000
474    -97.320556
475     86.183333
476    110.341667
477    -45.883333
478     34.644167
479    119.910627
480   -100.383333
481    114.494167
482    -76.612500
483     -4.250000
484     39.855360
485     28.311338
486    137.733333
487     76.233333
488    121.141667
489     77.750000
490      4.500000
491     54.366667
492    106.682222
493     45.072400
494     44.392222
495     83.763611
496    -80.843333
497   -106.486389
498    114.651667
499   -115.468333
Name: Longitude, Length: 500, dtype: float64
0      35.685000
1      31.045556
2      18.975000
3      24.905600
4      28.600000
5      28.666667
6      14.604200
7      55.752222
8      37.598500
9     -23.473293
10     41.018611
11      6.453056
12     19.434167
13     -6.174444
14     40.714167
15     -4.300000
16     30.050000
17    -12.050000
18     39.928889
19     51.514125
20      4.649178
21     23.723056
22     31.549722
23    -22.900000
24     33.338611
25     13.753979
26     12.983333
27    -33.450000
28     22.569722
29     43.666667
         ...
470   -19.916667
471    21.216667
472    11.595000
473    25.416667
474    32.725278
475    22.800000
476    20.045833
477   -23.183333
478    36.732778
479    32.493333
480    20.600000
481    37.063056
482    39.290278
483    55.833333
484    57.619770
485   -26.190851
486    34.700000
487     9.966667
488    41.107778
489    20.933333
490    51.916667
491    24.466667
492    20.856111
493    37.555300
494    35.468056
495    53.360556
496    35.226944
497    31.758611
498    37.879167
499    32.651944
Name: Latitude, Length: 500, dtype: float64
0      139.751389
1      121.399722
2       72.825833
3       67.082200
4       77.200000
5       77.216667
6      120.982200
7       37.615556
8      126.978300
9      -46.665803
10      28.964722
11       3.395833
12     -99.138611
13     106.829444
14     -74.006389
15      15.300000
16      31.250000
17     -77.050000
18     116.388333
19      -0.093689
20     -74.062827
21      90.408611
22      74.343611
23     -43.233333
24      44.393889
25     100.501444
26      77.583333
27     -70.666667
28      88.369722
29     -79.416667
          ...
470    -44.100000
471     81.433333
472     43.148056
473   -101.000000
474    -97.320556
475     86.183333
476    110.341667
477    -45.883333
478     34.644167
479    119.910627
480   -100.383333
481    114.494167
482    -76.612500
483     -4.250000
484     39.855360
485     28.311338
486    137.733333
487     76.233333
488    121.141667
489     77.750000
490      4.500000
491     54.366667
492    106.682222
493     45.072400
494     44.392222
495     83.763611
496    -80.843333
497   -106.486389
498    114.651667
499   -115.468333
Name: Longitude, Length: 500, dtype: float64
0      35.685000
1      31.045556
2      18.975000
3      24.905600
4      28.600000
5      28.666667
6      14.604200
7      55.752222
8      37.598500
9     -23.473293
10     41.018611
11      6.453056
12     19.434167
13     -6.174444
14     40.714167
15     -4.300000
16     30.050000
17    -12.050000
18     39.928889
19     51.514125
20      4.649178
21     23.723056
22     31.549722
23    -22.900000
24     33.338611
25     13.753979
26     12.983333
27    -33.450000
28     22.569722
29     43.666667
         ...
470   -19.916667
471    21.216667
472    11.595000
473    25.416667
474    32.725278
475    22.800000
476    20.045833
477   -23.183333
478    36.732778
479    32.493333
480    20.600000
481    37.063056
482    39.290278
483    55.833333
484    57.619770
485   -26.190851
486    34.700000
487     9.966667
488    41.107778
489    20.933333
490    51.916667
491    24.466667
492    20.856111
493    37.555300
494    35.468056
495    53.360556
496    35.226944
497    31.758611
498    37.879167
499    32.651944
Name: Latitude, Length: 500, dtype: float64
0      139.751389
1      121.399722
2       72.825833
3       67.082200
4       77.200000
5       77.216667
6      120.982200
7       37.615556
8      126.978300
9      -46.665803
10      28.964722
11       3.395833
12     -99.138611
13     106.829444
14     -74.006389
15      15.300000
16      31.250000
17     -77.050000
18     116.388333
19      -0.093689
20     -74.062827
21      90.408611
22      74.343611
23     -43.233333
24      44.393889
25     100.501444
26      77.583333
27     -70.666667
28      88.369722
29     -79.416667
          ...
470    -44.100000
471     81.433333
472     43.148056
473   -101.000000
474    -97.320556
475     86.183333
476    110.341667
477    -45.883333
478     34.644167
479    119.910627
480   -100.383333
481    114.494167
482    -76.612500
483     -4.250000
484     39.855360
485     28.311338
486    137.733333
487     76.233333
488    121.141667
489     77.750000
490      4.500000
491     54.366667
492    106.682222
493     45.072400
494     44.392222
495     83.763611
496    -80.843333
497   -106.486389
498    114.651667
499   -115.468333
Name: Longitude, Length: 500, dtype: float64
0      35.685000
1      31.045556
2      18.975000
3      24.905600
4      28.600000
5      28.666667
6      14.604200
7      55.752222
8      37.598500
9     -23.473293
10     41.018611
11      6.453056
12     19.434167
13     -6.174444
14     40.714167
15     -4.300000
16     30.050000
17    -12.050000
18     39.928889
19     51.514125
20      4.649178
21     23.723056
22     31.549722
23    -22.900000
24     33.338611
25     13.753979
26     12.983333
27    -33.450000
28     22.569722
29     43.666667
         ...
470   -19.916667
471    21.216667
472    11.595000
473    25.416667
474    32.725278
475    22.800000
476    20.045833
477   -23.183333
478    36.732778
479    32.493333
480    20.600000
481    37.063056
482    39.290278
483    55.833333
484    57.619770
485   -26.190851
486    34.700000
487     9.966667
488    41.107778
489    20.933333
490    51.916667
491    24.466667
492    20.856111
493    37.555300
494    35.468056
495    53.360556
496    35.226944
497    31.758611
498    37.879167
499    32.651944
Name: Latitude, Length: 500, dtype: float64
0      139.751389
1      121.399722
2       72.825833
3       67.082200
4       77.200000
5       77.216667
6      120.982200
7       37.615556
8      126.978300
9      -46.665803
10      28.964722
11       3.395833
12     -99.138611
13     106.829444
14     -74.006389
15      15.300000
16      31.250000
17     -77.050000
18     116.388333
19      -0.093689
20     -74.062827
21      90.408611
22      74.343611
23     -43.233333
24      44.393889
25     100.501444
26      77.583333
27     -70.666667
28      88.369722
29     -79.416667
          ...
470    -44.100000
471     81.433333
472     43.148056
473   -101.000000
474    -97.320556
475     86.183333
476    110.341667
477    -45.883333
478     34.644167
479    119.910627
480   -100.383333
481    114.494167
482    -76.612500
483     -4.250000
484     39.855360
485     28.311338
486    137.733333
487     76.233333
488    121.141667
489     77.750000
490      4.500000
491     54.366667
492    106.682222
493     45.072400
494     44.392222
495     83.763611
496    -80.843333
497   -106.486389
498    114.651667
499   -115.468333
Name: Longitude, Length: 500, dtype: float64
0      35.685000
1      31.045556
2      18.975000
3      24.905600
4      28.600000
5      28.666667
6      14.604200
7      55.752222
8      37.598500
9     -23.473293
10     41.018611
11      6.453056
12     19.434167
13     -6.174444
14     40.714167
15     -4.300000
16     30.050000
17    -12.050000
18     39.928889
19     51.514125
20      4.649178
21     23.723056
22     31.549722
23    -22.900000
24     33.338611
25     13.753979
26     12.983333
27    -33.450000
28     22.569722
29     43.666667
         ...
470   -19.916667
471    21.216667
472    11.595000
473    25.416667
474    32.725278
475    22.800000
476    20.045833
477   -23.183333
478    36.732778
479    32.493333
480    20.600000
481    37.063056
482    39.290278
483    55.833333
484    57.619770
485   -26.190851
486    34.700000
487     9.966667
488    41.107778
489    20.933333
490    51.916667
491    24.466667
492    20.856111
493    37.555300
494    35.468056
495    53.360556
496    35.226944
497    31.758611
498    37.879167
499    32.651944
Name: Latitude, Length: 500, dtype: float64
0      139.751389
1      121.399722
2       72.825833
3       67.082200
4       77.200000
5       77.216667
6      120.982200
7       37.615556
8      126.978300
9      -46.665803
10      28.964722
11       3.395833
12     -99.138611
13     106.829444
14     -74.006389
15      15.300000
16      31.250000
17     -77.050000
18     116.388333
19      -0.093689
20     -74.062827
21      90.408611
22      74.343611
23     -43.233333
24      44.393889
25     100.501444
26      77.583333
27     -70.666667
28      88.369722
29     -79.416667
          ...
470    -44.100000
471     81.433333
472     43.148056
473   -101.000000
474    -97.320556
475     86.183333
476    110.341667
477    -45.883333
478     34.644167
479    119.910627
480   -100.383333
481    114.494167
482    -76.612500
483     -4.250000
484     39.855360
485     28.311338
486    137.733333
487     76.233333
488    121.141667
489     77.750000
490      4.500000
491     54.366667
492    106.682222
493     45.072400
494     44.392222
495     83.763611
496    -80.843333
497   -106.486389
498    114.651667
499   -115.468333
Name: Longitude, Length: 500, dtype: float64

In [6]:
ten = city_df[:10]
ten

,Unnamed: 0,Country,City,AccentCity,Region,Population,Latitude,Longitude
0,1544449,jp,tokyo,Tokyo,40,31480498.0,35.685000,139.751389
1,570824,cn,shanghai,Shanghai,23,14608512.0,31.045556,121.399722
2,1327914,in,bombay,Bombay,16.0,12692717.0,18.975000,72.825833
3,2200161,pk,karachi,Karachi,05,11627378.0,24.905600,67.082200
4,1349146,in,new delhi,New Delhi,7.0,10928270.0,28.600000,77.200000
5,1331162,in,delhi,Delhi,7.0,10928270.0,28.666667,77.216667
6,2130459,ph,manila,Manila,D9,10443877.0,14.604200,120.982200
7,2461968,ru,moscow,Moscow,48,10381288.0,55.752222,37.615556
8,1626528,kr,seoul,Seoul,11,10323448.0,37.598500,126.978300
9,316800,br,sao paulo,S�o Paulo,27,10021437.0,-23.473293,-46.665803

In [7]:
for column in ten:
    latitude = ten["Latitude"]
    longitude = ten["Longitude"]
    print (f"latitude: {latitude}")
    print (longitude)

latitude: 0    35.685000
1    31.045556
2    18.975000
3    24.905600
4    28.600000
5    28.666667
6    14.604200
7    55.752222
8    37.598500
9   -23.473293
Name: Latitude, dtype: float64
0    139.751389
1    121.399722
2     72.825833
3     67.082200
4     77.200000
5     77.216667
6    120.982200
7     37.615556
8    126.978300
9    -46.665803
Name: Longitude, dtype: float64
latitude: 0    35.685000
1    31.045556
2    18.975000
3    24.905600
4    28.600000
5    28.666667
6    14.604200
7    55.752222
8    37.598500
9   -23.473293
Name: Latitude, dtype: float64
0    139.751389
1    121.399722
2     72.825833
3     67.082200
4     77.200000
5     77.216667
6    120.982200
7     37.615556
8    126.978300
9    -46.665803
Name: Longitude, dtype: float64
latitude: 0    35.685000
1    31.045556
2    18.975000
3    24.905600
4    28.600000
5    28.666667
6    14.604200
7    55.752222
8    37.598500
9   -23.473293
Name: Latitude, dtype: float64
0    139.751389
1    121.399722
2     72.825833
3     67.082200
4     77.200000
5     77.216667
6    120.982200
7     37.615556
8    126.978300
9    -46.665803
Name: Longitude, dtype: float64
latitude: 0    35.685000
1    31.045556
2    18.975000
3    24.905600
4    28.600000
5    28.666667
6    14.604200
7    55.752222
8    37.598500
9   -23.473293
Name: Latitude, dtype: float64
0    139.751389
1    121.399722
2     72.825833
3     67.082200
4     77.200000
5     77.216667
6    120.982200
7     37.615556
8    126.978300
9    -46.665803
Name: Longitude, dtype: float64
latitude: 0    35.685000
1    31.045556
2    18.975000
3    24.905600
4    28.600000
5    28.666667
6    14.604200
7    55.752222
8    37.598500
9   -23.473293
Name: Latitude, dtype: float64
0    139.751389
1    121.399722
2     72.825833
3     67.082200
4     77.200000
5     77.216667
6    120.982200
7     37.615556
8    126.978300
9    -46.665803
Name: Longitude, dtype: float64
latitude: 0    35.685000
1    31.045556
2    18.975000
3    24.905600
4    28.600000
5    28.666667
6    14.604200
7    55.752222
8    37.598500
9   -23.473293
Name: Latitude, dtype: float64
0    139.751389
1    121.399722
2     72.825833
3     67.082200
4     77.200000
5     77.216667
6    120.982200
7     37.615556
8    126.978300
9    -46.665803
Name: Longitude, dtype: float64
latitude: 0    35.685000
1    31.045556
2    18.975000
3    24.905600
4    28.600000
5    28.666667
6    14.604200
7    55.752222
8    37.598500
9   -23.473293
Name: Latitude, dtype: float64
0    139.751389
1    121.399722
2     72.825833
3     67.082200
4     77.200000
5     77.216667
6    120.982200
7     37.615556
8    126.978300
9    -46.665803
Name: Longitude, dtype: float64
latitude: 0    35.685000
1    31.045556
2    18.975000
3    24.905600
4    28.600000
5    28.666667
6    14.604200
7    55.752222
8    37.598500
9   -23.473293
Name: Latitude, dtype: float64
0    139.751389
1    121.399722
2     72.825833
3     67.082200
4     77.200000
5     77.216667
6    120.982200
7     37.615556
8    126.978300
9    -46.665803
Name: Longitude, dtype: float64

In [8]:
geolocator = Nominatim(user_agent="specify_your_app_name_here")
location = geolocator.geocode("Tokyo, Japan")
location

Location(東京, 千代田区, 東京都, 関東地方, 100-0002, 日本, (35.6828387, 139.7594549, 0.0))

In [9]:
geolocator = Nominatim(user_agent="coordinateFinder")
location = geolocator.geocode("San Francisco")
location

Location(SF, California, USA, (37.7647993, -122.4629897, 0.0))

In [10]:
(location.latitude, location.longitude)

(37.7647993, -122.4629897)